<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      .navb{
        display: flex;
        flex-direction: row;
        color: aliceblue;
       
   
       
        
      }
      div{
        display: flex;
        list-style:none;
        padding: 5px;
        flex-direction: row;
        text-align: center;
         justify-content: center;
         
      }
      p {
         padding: 5px;
         font-size: x-large;
        
         
      }
    
  </style>

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Tabuada</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">


    <script src="/assets/js/ie-emulation-modes-warning.js"></script>


  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        
        <div  class="navb">
          <div>
            <p><a href="/">Home</a></p>
            <p><a href="/tabuadas">Tabuada</a></p>
            
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">